body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #f8f9fa;
}

#game-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.game-card {
    width: 18rem;
    margin: 10px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

#game-details {
    display: none;
}

#game-detail-content {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: green;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: green;
}







